<%- include('_head'); -%>
<div class="container mt-5">
    <h1 class="text-center">Détails du Groupe</h1>

    <div class="card mt-4">
        <div class="card-header">
            <h2 class="mb-0">Nom du Groupe: <%= group.name %></h2>
        </div>
        <div class="card-body">
            <p>Description: <%= group.description %></p>

            <h3>Membres du Groupe:</h3>
            <ul class="list-group">
                <% if (group.members.length > 0) { %>
                    <% group.members.forEach(member => { %>
                        <li class="list-group-item"><%= member.username %></li>
                    <% }); %>
                <% } else { %>
                    <li class="list-group-item">Aucun membre dans ce groupe.</li>
                <% } %>
            </ul>
        </div>
    </div>

    <div class="mt-4">
        <a href="/users-without-group" class="btn btn-primary">Retourner à la liste des utilisateurs sans groupe</a>
    </div>
</div>
<%- include('_footer'); -%>
