<%- include('_head'); -%>
<div class="container mt-5">
    <div class="d-flex justify-content-between mt-5">
        <h1 class="">Liste des Groupes</h1>
        <div class="d-flex gap-3">
            <button class="btn btn-primary" onclick="location.href='/groupe/create-group';">Créer un groupe</button>
        </div>
    </div>

    <hr>

    <% if (groups && groups.length > 0) { %>
        <table class="table table-bordered mt-4">
            <thead class="table-light">
                <tr>
                    <th scope="col">Nom du Groupe</th>
                    <th scope="col">Nombre Maximum d'Utilisateurs</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% groups.forEach(group => { %>
                    <tr>
                        <td><%= group.name %></td>
                        <td><%= group.max_users %></td>
                        <td>
                            <a href="/group-details/<%= group.id %>" class="btn btn-outline-primary btn-sm">Voir Détails</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <div class="alert alert-warning mt-4" role="alert">
            Aucun groupe disponible.
        </div>
    <% } %>
</div>
<%- include('_footer'); -%>