<%- include('_head'); -%>
<div class="container mt-5">
    <h1 class="text-center">Bonjour <%= user.pseudo %> !</h1>

    <% if (groupId) { %>
        <div class="text-center mt-4">
            <button class="btn btn-primary" onclick="location.href='/group-details/<%= groupId %>';">Voir votre groupe</button>
        </div>
    <% } else { %>
        <h2 class="text-center mt-4">Vous n'êtes pas dans un groupe.</h2>
    <% } %>

    <h1 class="mt-5">Liste des utilisateurs sans groupe</h1>
    <ul class="list-group mt-3">
        <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
                <li class="list-group-item"><%= user.username %></li>
            <% }); %>
        <% } else { %>
            <li class="list-group-item">Aucun utilisateur sans groupe trouvé.</li>
        <% } %>
    </ul>
</div>
<%- include('_footer'); -%>
